* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background-color: coral;
}

nav a {
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

.list-wrapper {
  width: 90%;
  margin: auto;
}

.list-wrapper .pokemon-item {
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid coral;
  padding: 10px;
  border-radius: 7px;
}

.list-wrapper a {
  color: black;
  text-decoration: none;
}

.poke {
  width: 90%;
  margin: auto;
}

.pokemon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemon-wrapper .item {
  width: 30%;
}

.search-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}




